/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    background: transparent;
    height: 127px;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

.header .inner {
    position: relative;
    display: flex;
    gap: 110px;
    width: 1200px;
    margin: 0 auto;
    line-height: 127px;
}

.header h1 img {
    font-size: 0;
    max-width: 80px;
}

.header .gnb {
    position: relative;
    display: flex;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
    font-size: 17px;
}

.header .inner .icon .icon_inner>* {
    margin: 0 0 0 10px;
}

.header .inner .icon i {
    font-size: 20px;
    vertical-align: middle;
}


.header .inner .newsicon {
    position: absolute;
    top: -5px;
    right: 0;
}


.header:hover {
    color: #222;
    background: #fff;
}

.header:hover h1 {
    filter: invert(100%);
}

.header:hover .black {
    filter: invert(100%);
}

.header.on {
    color: #222;
    background: #fff;
}

.header.on h1 {
    filter: invert(100%);
}

.header.on .black {
    filter: invert(100%);
}


/* subpage */

.sub .subtit_bg01 {
    position: relative;
    background: url(../img/sub01.png) no-repeat center center/cover;
    width: 100%;
    height: 512px;
}

.sub .subtit_bg02 {
    position: relative;
    background: url(../img/sub02.png) no-repeat center center/cover;
    width: 100%;
    height: 512px;
}

.sub .subtit_bg03 {
    position: relative;
    background: url(../img/sub03.png) no-repeat center center/cover;
    width: 100%;
    height: 512px;
}

.sub .subtit_bg04 {
    position: relative;
    background: url(../img/sub04.png) no-repeat center center/cover;
    width: 100%;
    height: 512px;
}

.sub .subtit_bg05 {
    position: relative;
    background: url(../img/sub05.png) no-repeat center center/cover;
    width: 100%;
    height: 512px;
}

.sub .subtit_bg .menubar {
    width: 1900px;
    height: 65px;
    padding: 0;
    position: absolute;
    left: 350px;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(2px);
    z-index: 2000;
}



.menubar .backicon i {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 65px;
    line-height: 65px;
    padding: 0 30px;
    background: rgba(0, 0, 0, 1);
    color: #fff;

    transition: 0.5s;
}

.menubar .backicon:hover i {
    background: rgb(0, 162, 255);
}


.menubar .main_navigation {
    display: flex;
    gap: 20px;
    font-size: 17px;
    padding: 25px 0 0 76px;
    color: #fff;

}

.menubar .main_navigation>li {
    position: relative;
    width: 200px;
}

.menubar .main_navigation>li>a {
    display: block;
    padding: 0 0 0 10px;
}

.menubar .main_navigation .submenu {
    margin: 23px 0 0 0;
    color: #222;
    background: #fff;
    font-weight: 300;
    border: 1px solid #E4E4E4;
    border-top: none !important;
    width: 100%;

    box-shadow: 3px 3px 7px rgb(0 0 0 / 10%);
    display: none;
}

.menubar .main_navigation>li:hover .submenu {
    display: block;
}

.menubar .main_navigation .submenu>li {
    display: block;
    padding: 15px 0 10px 10px;
    height: 100%;
}

.menubar .main_navigation .submenu>li:last-child {
    margin: 0 0 15px 0;
}

.menubar .main_navigation li>a {
    display: block;
}

.menubar .main_navigation li>a::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 18px;
    height: 2px;
    background: #fff;
}

.menubar .main_navigation li>a span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 8px;
    width: 2px;
    height: 18px;
    background: #fff;
}

.menubar .main_navigation li:hover>a span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 8px;
    width: 2px;
    height: 18px;
    background: #fff;
    display: none;
}


.gong {
    height: 100vh;
}


/* footer */

.footer {
    padding: 50px 0;
    border-top: 1px solid rgba(165, 168, 168, 0.3);
}

.footer .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.footer .list {
    font-size: 0;
    margin: 0 0 10px 0;
}

.footer .short li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
}

.footer .short .bold {
    font-weight: 500;
}

.footer .long li {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
}

.footer .list li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 10px;
    transform: translate(-1px, 0);
}

.bold {
    font-weight: 600;
}

.blue {
    color: #00a2ff
}

.footer address {
    font-size: 13px;
}

.footer .inner .right {
    position: absolute;
    display: flex;
    bottom: 35px;
    padding: 0 0 0 1127px;
}

.footer .right i {
    font-size: 20px;
    padding: 6px;
    background: #565c64;
    color: #f8f8f8;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin: 0 10px 0 0;
}